<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="PolishMe" suffix=" · PolishMe">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <body>
    <div class="navbar sticky top-0 z-50 bg-base-100 shadow-md px-4 sm:px-6 lg:px-8">
      <div class="navbar-start">
        <label for="left-drawer-trigger" class="btn btn-square btn-ghost lg:hidden">
          <.icon name="hero-bars-3" />
        </label>
        <a href={~p"/"} class="btn btn-ghost text-xl">polish.me</a>
      </div>
      <div class="navbar-end">
        <ul class="menu menu-horizontal w-full relative z-10 flex items-center gap-4 justify-end">
          <li>
            <label class="swap swap-rotate">
              <input type="checkbox" class="theme-controller" value="light" />
              <input type="checkbox" class="theme-controller" value="dark" />
              <.icon name="hero-sun-micro" class="swap-on opacity-75 hover:opacity-100" />
              <.icon name="hero-moon-micro" class="swap-off opacity-75 hover:opacity-100" />
            </label>
          </li>
          <%= if @current_scope do %>
            <li>
              {@current_scope.user.email}
            </li>
            <li>
              <button style="anchor-name:--user-menu" popovertarget="user-menu">
                <.icon name="hero-user" />
              </button>
              <ul
                popover
                id="user-menu"
                style="position-anchor:--user-menu"
                class="dropdown menu bg-base-100 rounded-box w-52 shadow"
              >
                <li><.link href={~p"/users/settings"}>Settings</.link></li>
                <li><.link href={~p"/users/log-out"} method="delete">Log out</.link></li>
              </ul>
            </li>
          <% else %>
            <li>
              <.link href={~p"/users/log-in"}>
                <.icon name="hero-user" />
              </.link>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="drawer lg:drawer-open">
      <input id="left-drawer-trigger" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex">
        <div class="min-w-xs flex w-full flex-col p-4">
          {@inner_content}
        </div>
      </div>
      <div class="drawer-side top-16 z-20 h-[calc(100vh-4rem)]">
        <label for="left-drawer-trigger" class="drawer-overlay"></label>
        <ul class="menu menu-md min-h-full w-80 px-4 sm:px-6 lg:px-8 bg-base-200 text-base-content">
          <li class="menu-title text-lg">Navigation</li>
          <!-- Sidebar content here -->
          <li>
            <a href={~p"/"} class="active">
              <.icon name="hero-home" /> Home
            </a>
          </li>
          <%= if @current_scope do %>
            <li>
              <a href={~p"/brands"} class="active">
                <.icon name="hero-building-storefront" /> Brands
              </a>
            </li>
            <li>
              <a href={~p"/polishes"} class="active">
                <.icon name="hero-sparkles" /> Polishes
              </a>
            </li>
          <% else %>
            <li>
              <a href={~p"/users/log-in"} class="active">
                <.icon name="hero-arrow-right" />Log in to browse!
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
